// #p (preview) and #np (not preview) are for scoping the CSS. #p != #np.

// Reset
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: ms(0);
}

// Not Preview
#np {

    body,
    label,
    input,
    h1 {
        font-family: "Open Sans";
        font-weight: 400;
    }

    label {
        margin-bottom: remify(5);
        display: inline-block;
    }

    input {
        width: 100%;
        padding: remify(7);
        margin-bottom: ms(0);
    }

    .header {
        position: fixed;
        top: 0;
        width: 100%;
        height: $header-height;
        line-height: $header-height;
        padding: 0 ms(0);

        &__logo {
            font-size: ms(1);
        }
    }

    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: $sidebar-width;
        height: calc(100% - #{$header-height});
        padding: ms(0);
        overflow-y: auto;
    }
}

// Preview
#p {
    position: fixed;
    right: 0;
    bottom: 0;
    height: calc(100% - #{$header-height});
    width: calc(100% - #{$sidebar-width});
    padding: 10vh ms(0) ms(0);
    overflow-y: auto;

    .container {
        margin: 0 auto;
    }
}
