doctype
html(lang="en")
    head
        include partials/head
    body
        div#np
            header.header
                include partials/header
            aside.sidebar
                include partials/sidebar
        div#p
            include partials/preview
        script(src="/scripts.js")
